@font-face {
  font-family: light;
  src: url(./src/font/Poppins-Light.ttf);
}

@font-face {
  font-family: medium;
  src: url(./src/font/Poppins-Medium.ttf);
}

@font-face {
  font-family: bold;
  src: url(./src/font/Poppins-bold.ttf);
}


.logo{
    width: 7%;
    display: inline-block;
    position:relative;
}


:root {

  /* line-height: 1.5; */
  font-weight: 400;
  font-family: light;
  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  color: #000000;
background-color: #FFFEFE;
display: flex;
justify-content: center;
}

.header span{
padding-left:10%;
align-content: left;
display: flex;
justify-content: center;
}

.menuBtn{
  position: -webkit-sticky;
  position: sticky;
  display:block;
  top: 15em;
  left:3em;
  text-align: left;
  padding: 8px;
  width: 200px;
  z-index: 1;
  cursor: pointer;
  background-color: #252525;
  border-radius: 7px;
  font-family: medium;

}

.menuBtn:hover{
  background-color: #FFFEFE;
  color: #252525;
}

.menu
{
  border-radius: 7px;
  text-transform: uppercase;
  max-height: 0;
  position:absolute;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  font-family: bold;
  z-index: 1;
  text-align: left;
  /* border: 1px solid #252525; */
  font-weight: 500;
  text-decoration:none;

}

.menu li
{
  padding:8px;
  color: black;
  list-style-type: none;
  text-decoration:none;
  margin:auto 0;
  font-size: medium;
}

.menu li:hover, .menu li:active{
  color: #808080;
}

section{
  width: 100%;
  height:100%;
}

.blk{
  color: #ffffff;
  background-color: #000000;
}

.wht{
  color: #000000;
  background-color: #ffffff;
}


.text {
  max-width: 80%;
  text-align: center;
    margin: 0 auto;
  letter-spacing: 0px;
}

.bold{
  font-family:bold;
font-size: 35px;
font-weight: 700;
line-height: 43px;
}

.left p{
  display: inline-block;
  text-align: left;
}

.center p{
  display: inline-block;
  text-align: justify;

  width: 30%;
}


.right p{
  display: inline-block;
  text-align: right;
}

.big{
  font-size:x-large;
  
}

.small{
  font-size:smaller;
}

.contatainer{
  display: flex;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  margin: 0 auto;
  text-align: center;
}


.initial{
  font-size: 50px;
          font-family: medium;
          font-weight: 600;
          line-height: 75px;
          letter-spacing: 0px;
          text-align: left;
}
.ssss{
  color: transparent;
          -webkit-text-stroke-width: 1px;
          font-family: medium;
          -webkit-text-stroke-color: white;
          margin:0 0 0 -35px;
          padding:0;
          letter-spacing: 0px;
          font-weight:400;
          line-height:400px;
      font-size: 500px;
}


@media screen and (max-width: 767px){
  
 .root{
  font-family: medium;
 }



  .header{
    width:90%;
    display:flex;
    margin-bottom:-8%;
  }

.menuBtn{
  top:10%;
  left:30%;
  padding:40px;
  width:400px;
  text-align: center;
}
.menu{
  width:350px;
  
}

  .initial{
    text-align: center;
  }
  .ssss{
    letter-spacing: -60px;
    width:90%;
    -webkit-text-stroke-width: 2px;
  }


  .logo{
    width: 15%;
    display: inline-block;
    position:relative;
  }
  section svg{
    width:50%;
    height:50%;
  }


 }

 